{% extends "layout.html" %}
{% block title %}Print{% endblock %}
{% block content %}

<main class = "container">
        <div class="starter-template text-center py-5 px-3">
                <h1>Goosej Recipes</h1>
                <p class="lead">Under Construction</p>
        </div>
</main>

<body>

        STUFF SHOULD BE HERE
        {{ test }}

        OR HERE
</body>
<br>
<br>
<br>

<body>
         Toggle column: <a class="toggle-vis" data-column="0">Recipe Name</a> - <a class="toggle-vis" data-column="1">Description</a> - <a class="toggle-vis" data-column="2">Ingredients</a> - <a class="toggle-vis" data-column="3">URL</a> - <a class="toggle-vis" data-column="5">Instructions</a> - <a class="toggle-vis" data-column="6">Total Time</a> - <a class="toggle-vis" data-column="7">Prep Time</a> - <a class="toggle-vis" data-column="8">Cook Time</a> - <a class="toggle-vis" data-column="9">Servings</a> - <a class="toggle-vis" data-column="16">Ratings</a>

<button id="button">Delete selected row</button>
<table id="mydata">
    <thead>
      <tr>
        <th>Recipe Name</th>
        <th>Description</th>
        <th>Ingredients</th>
        <th>Original Recipe Website</th>
        <th>Author</th>
        <th>Instructions</th>
        <th>Total Time</th>
        <th>Preperation Time</th>
        <th>Cooking Time</th>
        <th>Number of Servings</th>
        <th>Calories per Serving</th>
        <th>Fat per Serving</th>
        <th>Carbohydrates per Serving</th>
        <th>Protein per Serving</th>
        <th>Cholesterol per Serving</th>
        <th>Sodium per Serving</th>
        <th>Number of Ratings</th>
        <th>Average Rating</th>
      </tr>
    </thead>
  </table>
</body>

{% endblock %}
